*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;   
}

.city {
    background-image:url("PngItem_29192.png");
    background-size: cover;
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    height: 100vh;
    animation: left_transition 10s linear infinite;
    pointer-events: none;
}

.play__btn {
    padding:  10px 20px;
    display: block;
    margin: 20px auto;
}

.score__card {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 20px;
    font-family: sans-serif;
}

.character__div {
    height: 120px;
    overflow: hidden;   
    position: absolute;
    bottom: 0;
    /* transition: 0.3s; */
}

.character__div img {
    height: 100%;
}

.jump  {
    animation: jump 0.6s ease-in-out;
}

.box {
    width: 60px;
    height: 40px;
    /* background-color: white; */
    position: absolute;
    bottom: 0;
    right: -60px;
    animation: left_transition 5s  linear;
    background-image: url("/alien.png");
    background-size: cover;
}

.box img {
    width: 100%;
    height: 100%;
}

@keyframes left_transition {
    from {
        right: 0;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 150px;
    }

    100% {
        bottom: 0;
    }
}